<<<<<<< HEAD
    <h1>Laughing Likes</h1>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Laughing Likes | <%= @title %></title>
  </head>
  <body>
    <h1>Laughing Likes</h1>
    <p>
      
    </p>
  </body>
</html>
>>>>>>> user-microposts
