<footer>
  <nav class="round">
    <ul>
            <li><a href="http://www.laughinglikes.com">LaughingLikes.com</a></li>
      - This site is not affiliated with Facebook
      <li><%= link_to "Terms of Use", terms_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
    </ul>
  </nav>
</footer>